[user]
	name = Nizam Chaudhary
	email = ChaudharyNizam10@gmail.com
	signingkey =  C18F3C5A18424DF1
[commit]
	gpgsign = true
[maintenance]
	repo = /home/nizam/code/olpgas-backend
	repo = /home/nizam/dotfiles
[core]
	editor = vim
[init]
	defaultBranch = main
[pull]
	rebase = false
